{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
   <div>
        <h1>{{article.Titre }} par {{article.Auteur }}</h1>
    </div>
    {% for comment in comments %}
        <h3>{{comment.Auteur}} à écrit : {{comment.Texte }}</h3>
    {% endfor %}
    
    {% if app.user %}
        <div>
            <h1>Utilisateur connecté</h1>
        </div>
    {% endif %}
{% endblock %}
