{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}

    {% for article in articles %}
    <div>
        <h1><a href="{{ path('app_article', {id: article.id} )}}">{{article.Titre }}</a></h1>
        <h3>{{article.Auteur }}</h3>
        
    </div>
    {% endfor %}
{% endblock %}
